* {
  font: "Product Sans", Helvetica, arial, sans-serif;
  color: white;
}
.App {
  text-align: center;
  background-color: #1b1b2b;
}


.streamPlayer {

}

.streamPlayerWrapper {
  justify-items: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

body {
  background-color: #1b1b2b;
  display: grid;
}

@media only screen and (min-width: 600px) {
  #mobileText{
    display: none;
    
  }
}

@media only screen and (max-width: 799px) {
  .giphyStyle {
    justify-self: center;
  };

}

@media only screen and (max-width: 915px) {
    /* For desktop: */
    .streamPlayer {
      height: 337px;
      width: 600px;
    }
    .streamerInput {
      width: 250px;
      font-size: 1.2em;
    }

    .giphyStyle {
      height: 350px;
      width: auto;
    };

}

@media only screen and (min-width: 916px) {
    /* For desktop: */
    .streamPlayer {
      height: 253px;
      width: 450px;
    }
    .streamerInput {
      width: 450px;
      font-size: 1.5em;
    }
    .giphyStyle {
      height: 400px;
      width: auto;
    };
}

@media only screen and (min-width: 1016px) {
    /* For tablets: */
    .streamPlayer {
      height: 281px;
      width: 500px;
    }
}

@media only screen and (min-width: 1116px) {
    /* For desktop: */
    .streamPlayer {
      height: 309px;
      width: 550px;
    }

    .giphyStyle {
      height: 600px;
      width: auto;
    };
}

@media only screen and (min-width: 1216px) {
    /* For desktop: */
    .streamPlayer {
      height: 337px;
      width: 600px;
    }

}

@media only screen and (min-width: 1400px) {
    /* For desktop: */
    .streamPlayer {
      height: 370px;
      width: 660px;
    }

}
