* {
  font: "Product Sans", Helvetica, arial, sans-serif;
  color: white;
}
.App {
  text-align: center;
  background-color: #1b1b2b;
}

body {
  background-color: #1b1b2b;
  display: grid;
}

.streamPlayer {
  margin-left: auto;
  margin-right: auto;
}

.streamPlayerWrapper {
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

body {
  background-color: #1b1b2b;
  display: grid;
}

@media only screen and (max-width: 500px) {
  .streamerInput {
    width: 400px;
  }
  .shareLinkStyle{
    display: none
  }

}


@media only screen and (min-width: 600px) {
  #mobileText{
    display: none;
  }
}

@media only screen and (max-width: 699px) {
  .giphyStyle {
    justify-self: center;
    height: 350px;
    width: auto;
  }
  .streamPlayer {
    height: calc(98vw * .56);
    width: 98vw;
  }
  .streamerInput {
    width: 400px;
    font-size: 0.75em;
  }

}
@media only screen and (min-width: 700px) {
  .streamPlayer {
    width: 48vw;
    height: calc(49vw * .56);
  }
  .giphyStyle {
    justify-self: center;
    height: 50vw;
    width: auto;
  };
}
@media only screen and (max-width: 915px) {

    .streamerInput {
      width: 300px;
      font-size: 1em;
    }



}



@media only screen and (min-width: 916px) {

    .streamerInput {
      width: 400px;
      font-size: 1.25em;
    }
}

/*
@media only screen and (min-width: 1016px) {
    .streamPlayer {
      height: 281px;
      width: 500px;
    }
}

@media only screen and (min-width: 1116px) {
    .streamPlayer {
      height: 309px;
      width: 550px;
    }

    .giphyStyle {
      height: 600px;
      width: auto;
    };
}

@media only screen and (min-width: 1216px) {
    .streamPlayer {
      height: 337px;
      width: 600px;
    }

}

@media only screen and (min-width: 1400px) {
    .streamPlayer {
      height: 370px;
      width: 660px;
    }

} */
